<p><main class="content"><span class="term">HTML</span> (от англ. <span class="hint">HyperText Markup Language</span> — «язык гипертекстовой разметки») — стандартизированный язык разметки документов во <a href="https://ru.wikipedia.org/wiki"/>Всемирной паутине</a>. Большинство веб-страниц содержат описание разметки на языке HTML (или XHTML). Язык HTML интерпретируется браузерами; полученный в результате интерпретации форматированный текст отображается на экране монитора компьютера или мобильного устройства.</p></main>
